@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Spartan:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --font-primary: 'Kanit', sans-serif;
  --font-secondary: 'League Spartan', sans-serif;
  --font-mono: 'Roboto Mono', monospace;
}

* {
  font-family: var(--font-primary);
}
body{
  background-color: #fff !important;
}
.p-steppanel{
  background-color: #fff !important;
}
.p-accordioncontent-content{
  background: #fff !important;
  color: #000 !important;
}

.p-accordionheader{
  background-color: #fff !important;
  color: #000 !important;
}

.p-accordionheader-toggle-icon{
  color: #000 !important;
}

.p-panel-content-container{
  background-color: #fff !important;
  color: #000;
  border-radius: 0.3rem;
}